extends layout

block content
  link(rel='stylesheet', type='text/css', href='/css/login.css')
  script(type="text/javascript" src="/js/CreatePlaylist.js")

  h1.color #{title} · #{playlist.title}
  div(class="wrapper")
    div(class="button-cover button-slide-up")
      button(class="btn btn--primary button-slide-up__button") Delete
      div(class="button-set")
        button(class="btn btn--gray") Cancel
        button(class="btn btn--gray-drk") Confirm
  h3.color Join Code · #{_id}

  //p.color #[strong Number of Tracks ·] #{playlist.numberOfTracks}

  div(class="search_bar")
    select(class="search_bar_select" style="width: 99%")

  script(src="http://code.jquery.com/jquery-1.10.1.min.js")
  script(type="text/javascript" src="/js/GetToken.js")
  
  //Info for select
  link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  script(type="text/javascript").
    var id = "#{_id}";
  script(type="text/javascript" src="/js/SearchTrack.js")

  ul(id="scroll-container")
    each track, index in playlist.tracks
      if index % 2 == 0
        li(style="background-color:lightgrey; margin-bottom:4px; margin-top:4px;" onclick="changeTrack(" + track + ")")
          img(src = JSON.parse(track).album.images[2].url)
          text 
            = JSON.parse(track).name + " · " + JSON.parse(track).album.artists[0].name
          input.littlebutt(id="deleteButton" type="button" value="╳" onclick="deleteTrack(" + track + ");")
          input.littlebutt(id="reorderUpButton" type="button" value="△" onclick="reorderTrackUp(" + track + ");")
          input.littlebutt(id="reorderDownButton" type="button" value="▽" onclick="reorderTrackDown(" + track + ");")
            
      else
        li(style="background-color:#FFD6D1" onclick="changeTrack(" + track + ")")
          img(src = JSON.parse(track).album.images[2].url)
          text 
            = JSON.parse(track).name + " · " + JSON.parse(track).album.artists[0].name
          input.littlebutt(id="deleteButton" type="button" value="╳" onclick="deleteTrack(" + track + ");")
          input.littlebutt(id="reorderUpButton" type="button" value="△" onclick="reorderTrackUp(" + track + ");")
          input.littlebutt(id="reorderDownButton" type="button" value="▽" onclick="reorderTrackDown(" + track + ");")


  iframe#widget(frameborder='0', allowtransparency='true')

