extends layout

block content
  h1 #{title}: #{playlist.title}
  h3 Join Code: #{_id}

  p #[strong numberOfTracks:] #{playlist.numberOfTracks}

  div(class="search_bar")
    select(class="search_bar_select" style="width: 99%")

  script(src="http://code.jquery.com/jquery-1.10.1.min.js")
  script(type="text/javascript" src="/js/GetToken.js")
  
  //Info for select
  link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  script(type="text/javascript").
    var id = "#{_id}";
  script(type="text/javascript" src="/js/SearchTrack.js")

  ul(id="scroll-container")
    each track in playlist.tracks
      li
        = JSON.parse(track).name

  #spotifyWidget

  script#spotifyWidget-template(type='text/x-handlebars-template').
  <p style="text-align: center;">
  <iframe src="https://open.spotify.com/embed?uri=spotify:track:{{track_id}}&theme=white&view=coverart" frameborder="0" allowtransparency="true">
  </iframe>
  </p>

  script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js')